mixin cost(opt)
    section.cost(id="custom")
        h2.cost__title= opt.title
        table.cost__table
            tr.cost__tr
                td.cost__td.cost__td_title.cost__td_first= opt.sign[0]
                each item in opt.table
                    td.cost__td.cost__td_cost= item.cost
            tr.cost__tr
                td.cost__td.cost__td_title= opt.sign[1]
                    td.cost__td.cost__td_value(colspan='4') Индивидуально    
            tr.cost__tr
                td.cost__td.cost__td_title= opt.sign[2]
                    td.cost__td.cost__td_add(colspan='4') на 1% больше
