mixin footer(opt)
    footer.footer
        .footer__logo.logo
            a.footer__link(href='#')= opt.logo
        .footer__wrapper
            ul.footer__icons
                each item in opt.icon
                    li.footer__icon
                        a.footer__link(href=`${item.link}` target='_blank')
                            img.footer__icon-img(src=`${item.img}`)
            .footer__contact.contact
                .contact__data.contact__data_email
                    a.contact__link(href=`mailto:${opt.email}`)= opt.email
                .contact__data.contact__data_phone
                    a.contact__link(href=`tel:${opt.phone}`)= opt.phone 