mixin howwework(opt)
    section.howwework
        -let i = 0
        h2.howwework__title= opt.title
        p.howwework__subtitle= opt.subtitle
        ol.howwework__list
            each item in opt.list
                -i++
                li.howwework__item
                    .howwework__number= i
                    .howwework__content
                        h3.howwework__list-title= item.title
                        p.howwework__text= item.text
